body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}



.product-container {
    display: flex;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-image img {
     width: 70%;
    border-radius: 5px;
}

.product-details {
    margin-left: 20px;
    flex: 1;
}

.product-details h1 {
    font-size: 24px;
    color: #333;
}

.product-details p {
    font-size: 16px;
    color: #666;
}

.product-options label {
    font-size: 16px;
    color: #333;
}

.product-options select {
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.product-price h2 {
    margin-top: 20px;
    font-size: 20px;
    color: #333;
}

.buy-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #71e5f5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.buy-button:hover {
    background-color: #54b2ca;
}



