@import url('https://fonts.googleapis.com/css2?family=Playwrite+BE+VLG:wght@100..400&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header .top-bar {
    background-color: #71e5f5;
    color: #000;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem;
}

header .top-bar .contact-info p {
    margin: 0;
}

header .top-bar .social-links a {
    width: 50px;
    height: 50px;
    border-radius: 10%;

    font-size: 28px;
    text-decoration: none;
    margin-left: 0.5rem;
    color: #f1f1f1;
}

header .top-bar .social-links img {
    width: 20px;
    height: 20px;
}

header .main-nav {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .main-nav .logo {
    height: 300px; 
    width: 300px;
}

header .main-nav nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

header .main-nav nav ul li {
    margin: 0 1rem;
}

header .main-nav nav ul li a {
    color: #000;
    text-decoration: none;
    font-size: 1rem;
}

header .main-nav nav ul li.icons a {
    margin: 0 0.5rem;
}

header .main-nav nav ul li.icons img {
    width: 20px;
    height: 20px;
}

main {
    padding: 2rem;
    text-align: center;
}


.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    background-color: transparent; 
}




.nav-left, .nav-right {
    flex: 1;
}

.nav-left ul, .nav-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-left ul {
    justify-content: flex-start;
}

.nav-right ul {
    justify-content: flex-end;
}
.social_icon{
    color: #fff;
    margin-bottom: 0.3rem;
}
.social_icon:hover{
    color: #4e4c4c;

}
.social_icon{
    margin-right: 15px;

}
.social_icon img{
    height: 28px;
}

/*body {
    font: 1.3rem sans-serif;
    padding: 0;
    margin: 0;
    background: #fff;
}
header{
    width: 100%;
    height: 233px;
    display: flex;
    justify-content: center;
    padding: 0% 2%;
    background-color: #bd9439;
}
header h1{
    margin-top: 80px;
    text-align: center;
    font-size: 55px;
    color: #fff;
    font-family: 'Intro Cond Regular';
}
.logoheader{
    width: 250px;
    height: 250px;
    filter: drop-shadow(8px 6px 4px #8eefe5);
}*/

.caja {
    width: 100px;
    height: auto;
    padding: 2%;
    margin-left: 5px;
    flex: 60%;
    transition: transform 0.3s;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    background-color:#E5DDC5;
    
}
.caja p {
    font-size: 25px;
    width: 100%;
    height: auto;
    overflow-wrap: break-word;
    text-align: center;
    box-sizing: border-box;
}


.mediofondo{
    background-image: url(./collagetortas.jpg);
    background-size: 99.9%;
    height: 750px;
    background-repeat: no-repeat;
}
.mediofondo h1 {
    background-color: #6a696955;
    text-align: center;
    padding-top: 300px;
    height: 100%;
    font-size: 60px;
    color: #fff;
}
.slider{
    width: 282px;
    height: auto;
    margin: auto;
    overflow: hidden;
    grid-column: 2 / 3;
    grid-row: 1/2 ;
    border-radius: 10px;
}
.slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 15s infinite;
    animation-timing-function: ease-in;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
}
@keyframes cambio{
    0% {margin-left: 0;}
    20%{margin-left: 0;}
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}


@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
    .slider {
        grid-column: 1 / -1;
        margin-top: 20px;
    }
    .cajass {
        flex-direction: column;
        align-items: center;
   
    }}

    .footer{
        background-color:#D29D2B ;
        display: flex;
        flex-direction: column;
    }
    .section_footer{
    background-color: #E0A75E;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    }
    .pie_div{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    
    }
    .footer_titulo{
        color: black;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .social_icon{
        color: #fff;
        margin-bottom: 0.3rem;
    }
    .social_icon:hover{
        color: #4e4c4c;
    
    }
    .social_icon{
        margin-right: 15px;
    
    }
    .social_icon img{
        height: 28px;
    }
    
    .footer_copy{
        text-align: center;
        color: #fff;
        font-size: 1.1rem;
        font-weight: 500;
        padding: 20px 0;
    }
    .footer_copy_links{
        color: #fff;
        font-weight:900 ;
    }
    .footer_copy_links:hover{
        color: #4e4c4c;
    }
    @media only screen and(max-width:850px) {
        .section_footer{
            width: 49%;
            margin-bottom: 1.5rem;
    
        }
    }
    @media only screen and(max-width:510px) {
        .section_footer{
            width: 100%;
            
            
        }
    }
    
   .footer{
    background-color:#D29D2B ;
    display: flex;
    flex-direction: column;
}
.section_footer{
background-color: #E0A75E;
padding: 50px 20px;
display: flex;
justify-content: center;
}
.pie_div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;

}
.footer_titulo{
    color: black;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.social_icon{
    color: #fff;
    margin-bottom: 0.3rem;
}
.social_icon:hover{
    color: #4e4c4c;

}
.social_icon{
    margin-right: 15px;

}
.social_icon img{
    height: 28px;
}

.footer_copy{
    text-align: center;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 20px 0;
}
.footer_copy_links{
    color: #fff;
    font-weight:900 ;
}
.footer_copy_links:hover{
    color: #4e4c4c;
}
@media only screen and(max-width:850px) {
    .section_footer{
        width: 49%;
        margin-bottom: 1.5rem;

    }
}
@media only screen and(max-width:510px) {
    .section_footer{
        width: 100%;
        
        
    }
}

footer .top-bar .social-links a {
    width: 50px;
    height: 50px;
    border-radius: 10%;

    font-size: 28px;
    text-decoration: none;
    margin-left: 0.5rem;
    color: #f1f1f1;
}

footer.top-bar .social-links img {
    width: 20px;
    height: 20px;
}